<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:cxf="http://cxf.apache.org/core"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
  http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
  http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
  default-lazy-init="true" >

  	<import resource="classpath:META-INF/cxf/cxf.xml" />
	
	<!-- log Interceptor-->
	
	<bean id="cxfInLogger" class="com.sundsoft.webservice.log.LoggingFormatInInterceptor">
	</bean>

	<bean id="cxfOutLogger" class="com.sundsoft.webservice.log.LoggingFormatOutInterceptor">
	</bean>
	<!-- DT -->
	<bean id="DtExchangeBean" class="com.sundsoft.webservice.dtExchange.impl.DtExchangeServiceImpl" />

	<jaxws:endpoint id="DtExchangeService" address="/dtExchangeService">
		<jaxws:implementor ref="DtExchangeBean" />
		<jaxws:inInterceptors>
			<ref bean="cxfInLogger" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="cxfOutLogger" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	<!-- GJ -->
	<bean id="GjExchangeBean" class="com.sundsoft.webservice.gjExchange.impl.GjExchangeServiceImpl" />

	<jaxws:endpoint id="GjExchangeService" address="/gjExchangeService">
		<jaxws:implementor ref="GjExchangeBean" />
		<jaxws:inInterceptors>
			<ref bean="cxfInLogger" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="cxfOutLogger" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	<!-- CRM -->
	<bean id="CrmExchangeBean" class="com.sundsoft.webservice.crmExchange.impl.CrmExchangeServiceImpl" />

	<jaxws:endpoint id="CrmExchangeService" address="/crmExchangeService">
		<jaxws:implementor ref="CrmExchangeBean" />
		<jaxws:inInterceptors>
			<ref bean="cxfInLogger" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="cxfOutLogger" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	<!-- DK -->
	<bean id="dkExchangeBean" class="com.sundsoft.webservice.dkExchange.impl.DkExchangeServiceImpl" />

	<jaxws:endpoint id="DkExchangeService" address="/dkExchangeService">
		<jaxws:implementor ref="dkExchangeBean" />
		<jaxws:inInterceptors>
			<ref bean="cxfInLogger" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="cxfOutLogger" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	<!-- XX -->
	<bean id="xxExchangeBean" class="com.sundsoft.webservice.xxExchange.impl.XxExchangeServiceImpl" />

	<jaxws:endpoint id="XxExchangeService" address="/xxExchangeService">
		<jaxws:implementor ref="xxExchangeBean" />
		<jaxws:inInterceptors>
			<ref bean="cxfInLogger" />
		</jaxws:inInterceptors>
		<jaxws:outInterceptors>
			<ref bean="cxfOutLogger" />
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	<!--  -->
	
	<!--  -->
	
	<!--  -->

</beans>